<a href="https://colab.research.google.com/github/ankp6737/machinelearning/blob/main/Simple_Machine_Learning_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Building the first Machine Learning Model**

Consider a house pricing dataset consisting of details of the house. Each row in the dataset represents a new house while each column represents the features of that house like no. of bedrooms, built year, area, garage area, etc. The link for the dataset is as follows:


/content/drive/MyDrive/Data/train_house.csv

Our aim is to build a model that helps in predicting the price of the house using the features provided in the dataset.

## **Load the Dataset**

To begin we first load the housing price dataset using the below code. 

We use the pandas library for all data manipulation and analysis related functionalities. read_csv is an inbuilt function available in the pandas library to read the csv file.

In [ ]:
import pandas as pd   #import pandas library that helps in data manipulation and analysis. This library will be referred as pd in future program
load_data=pd.read_csv('/content/drive/MyDrive/Data/train_house.csv')      #read_csv is an important pandas function to read csv files and do operation on it

###**Review the data**


The data can be reviewed using the describe function.

In [ ]:
load_data.describe()   #Pandas describe() is used to view some basic statistical details like percentile, mean, std etc. of a data frame or a series of numeric values.

                Id   MSSubClass  ...       YrSold      SalePrice
count  1460.000000  1460.000000  ...  1460.000000    1460.000000
mean    730.500000    56.897260  ...  2007.815753  180921.195890
std     421.610009    42.300571  ...     1.328095   79442.502883
min       1.000000    20.000000  ...  2006.000000   34900.000000
25%     365.750000    20.000000  ...  2007.000000  129975.000000
50%     730.500000    50.000000  ...  2008.000000  163000.000000
75%    1095.250000    70.000000  ...  2009.000000  214000.000000
max    1460.000000   190.000000  ...  2010.000000  755000.000000

[8 rows x 38 columns]

###**Interpreting the data description**

The count above shows the number of rows with values in the particular column. It can be used to find any missing values in the column. For eg: Column 'Id' has 1460 count whereas column 'LotFrontage' has only 1201 count. This shows column 'LotFrontage' has missing values in some rows.

The mean shows the average of all the values in the particular column

The std shows the standard deviation of all the values in the particular column

Min and Max indicates the minimum and maximum value respectively in a particular column

To understand 25%, 50% and 75%: if we first sort the values in column the 25th percentile, 50th percentile and 75th percentile will be represented respectively

###**View few rows of the dataset**

To review the first few columns of the dataset we use the head function. It returns the first five rows of the dataset as default.

In [ ]:
load_data.head() #This function returns the first n rows for the object based on position. By default the value of n is 5.

###**View Columns in the dataset**

Our dataset may contain many columns or features. How can we reduce the number of features or select the features only that are useful for our model?

Pandas provide a built in function 'columns' that returns the column labels of the dataframe.

In [ ]:
load_data.columns #function to return the column labels in a dataset

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

###**Choosing features**


Looking at the column names above we can now define our own subset of features as per our requirement.

The columns that are inputted into our model (and later used to make predictions) are called "features." In our case, those would be the columns used to determine the home price. Sometimes, we will use all columns except the target as features while othertimes we will require only few columns.

For now, we'll build a model with only a few features. 
We select multiple features by providing a list of column names inside brackets. Each item in that list should be a string (with quotes).

In [ ]:
 #create a list of features that we will help in predicting the price of the house. It contain the same column names as mentioned in dataset that we require to predict housing prices.
load_features=['LotArea','OverallQual','OverallCond','YearBuilt','YearRemodAdd','1stFlrSF','2ndFlrSF','BsmtFinSF1',\
               'BsmtFinSF1','GarageArea','PoolArea','OpenPorchSF','EnclosedPorch']

In [ ]:
X=load_data[load_features] #loading the values of features identified above in the load_feature list into variable X that will be the input to our model for predicting prices.

### **Review the final input to the model**


Before inputing the values into the model we can review the input data in X using the describe and head function.

In [ ]:
X.describe() #review the data in variable X

             LotArea  OverallQual  ...  OpenPorchSF  EnclosedPorch
count    1460.000000  1460.000000  ...  1460.000000    1460.000000
mean    10516.828082     6.099315  ...    46.660274      21.954110
std      9981.264932     1.382997  ...    66.256028      61.119149
min      1300.000000     1.000000  ...     0.000000       0.000000
25%      7553.500000     5.000000  ...     0.000000       0.000000
50%      9478.500000     6.000000  ...    25.000000       0.000000
75%     11601.500000     7.000000  ...    68.000000       0.000000
max    215245.000000    10.000000  ...   547.000000     552.000000

[8 rows x 13 columns]

In [ ]:
X.head() #function to return first n rows in the dataset. The default value of n is 5 i.e. it will return first 5 rows of the data stored in column X

   LotArea  OverallQual  OverallCond  ...  PoolArea  OpenPorchSF  EnclosedPorch
0     8450            7            5  ...         0           61              0
1     9600            6            8  ...         0            0              0
2    11250            7            5  ...         0           42              0
3     9550            7            5  ...         0           35            272
4    14260            8            5  ...         0           84              0

[5 rows x 13 columns]

In [ ]:
X.shape #it returns the shape of variable X, here X is a metrice with 1460 rows and 13 columns

(1460, 13)

Shape function can be used to return the shape of the array. Here X shape is 1460,13 which means that there are 1460 rows and 13 columns. Each row represents new example while the column represent the features of each example.

###**Load target prediction values**

Using the input features we need to predict the house prices. Since the housing prices are already provided to us in the given dataset we will store the values in the output variable y. Such type of learning where the output of the model is provided in advance alongwith the input features is known as Supervised learning.

In [ ]:
y=load_data['SalePrice']  #loading the value of target prediction in variable y. 
y1=load_data.SalePrice    #This is known as dot notation and will result in same operation as above.

In [ ]:
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [ ]:
y1.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

##**Machine Learning model**

We have used scikit-learning library referred as sklearn in the code to create our model. The basic steps in building the model are:


1.   Define the model: Select which prediction algorithm to be used like DecisionTreeRegression, Linear Regression, Logistic regression, etc.
2.   Train the model: The model choosen above is trained using the input features to select the optimum parameters for future predictions of target value.
3.   Predict using the model: Once the model is completely trained we can start predicting the target values using new set of inputs to the model. These inputs should usually be different from than used while training the model.
4.   Evaluate the model: Here we determine how accurate our model is using different metrices available.

###**Defining the model**

Here in this example we are using the Decision Tree model to predict our housing prices.

In [ ]:
from sklearn.tree import DecisionTreeRegressor #Defining the model. Importing Decision Tree model available in the sklearn library
model=DecisionTreeRegressor(random_state=1)   #Specifing the randon state of the model to ensure same results in each run

###**Training the model**

Once the model has been defined it is time to train the model using the input features and output target values so as to tune the model and find the optimum parameters that will help in predicting target values of future input features

In [ ]:
model.fit(X,y)    #training the model using the fit function that takes the input features and target value as input

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

###**Predict using the model**

Once the model is trained it can be used for predicting target values. The model is training using the house input features and now will predict the prices of the house using the trained model. In practice we will be predicting the prices of the new house coming in the market rather than the houses for which we already have the prices. 

For sake of simplicity we'll make predictions for the first few rows of the training data to see how the predict function works.

In [ ]:
model.predict(X.head()) #predicting the sale price of the house using the predict function that takes first few rows of the training data as input

array([208500., 181500., 223500., 140000., 250000.])

In [ ]:
y.head()  #returns the top 5 rows of the sale price of the house. We observe that these are similar to prices predicted by our model above.

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

We can observe that the prediction made by the model and the value of y are same.

###**Evaluating the model**

There are many metrics for summarizing model quality, but we are using called Mean Absolute Error 
With the MAE metric, we take the absolute value of each error. It converts each error to a positive number. We then take the average of those absolute errors.

In [ ]:
from sklearn.metrics import mean_absolute_error

predicted_home_prices = model.predict(X)
mean_absolute_error(y, predicted_home_prices)

19.005479452054793

Since the value of MAE is small the model is predicting well and is acceptable. Still better machine learning algorithms could be used for better accuracy and more complex non linear features.